.bottom-container {
  display: grid;
  grid-template-columns: 1fr;
}

.results-title {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.result-section-1,
.result-section-2 {
  display: grid;
  grid-template-columns: min-content 1fr;
}

.total-bill-with-tip-result,
.tip-amount-result {
  background-color: rgb(227, 227, 227);
  border: solid 1px gray;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.tip-amount,
.total-bill-with-tip {
  background-color: rgb(227, 227, 227);
  border: solid 1px gray;
  white-space: nowrap;
  display: flex;
  align-items: center;
  padding: 2px 6px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  margin-right: -1px;
}